<PageTitle>Evidence</PageTitle>
<h1>Evidence</h1>
<div class="p-2 my-3 border">
    <label>Datum: <input type="date" /></label>
    <label>Náklady: <input type="number" step="0.01" /></label>
    <label>Výnosy: <input type="number" step="0.01" /></label>
    <button>Přidat</button>
</div>
<div class="p-2 my-3 border">
    <button>Zobraz vše</button>
    <button>Počet záznamů</button>
    <button>Statistiky</button>
</div>
<div class="p-2 my-3 border">
    <p></p>
</div>
@code {

}
